/* Temel Stiller */
body {
  margin-top: 30px;
  margin-bottom: 30px; /* Alt kısma da eşit boşluk eklendi */
  background-image: url('/public/background.png');
  background-size: cover;
  background-position: cover;  
  font-family: 'Roboto', sans-serif; /* Modern ve temiz bir font */
  color: var(--text-color); /* Dinamik metin rengi tanımı */
}

:root {
    --background-color: #ffffff;
    --text-color: #2e8b57; /* Koyu yeşil metin rengi */
    --border-color: #cccccc;
    --focus-border-color: #007BFF;
    --hover-border-color: #007BFF;
    --base-font-size: 16px; 
}

/* Dark Mode Stilleri, bu ayarları .dark-mode sınıfında güncelleyeceğiz */
.dark-mode {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #888;
    --focus-border-color: #1E90FF;
    --hover-border-color: #1E90FF;
}

.App {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  padding-bottom: 30px; /* Artan alt padding ile içerik alt boşluk dengelenmiş olur */
  background-color: var(--background-color, rgba(255, 255, 255, 0.8)); /* Dinamik arka plan rengi */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Daha uygun padding */
  font-size: calc(var(--base-font-size) * 2.5);
}

button {
  padding: 8px 16px;
  background-color: var(--border-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-border-color);
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px; /* İçerik ve yan çubuklar arasındaki boşluğu ayarlar */
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Tüm içeriği tek sütun yap */
  }
  .App {
    padding: 10px; /* Uygulama içi padding'i azalt */
  }
  header {
    flex-direction: column;
    text-align: center;
  }
  button {
    margin-top: 10px;
  }
}
